In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit
spark = SparkSession.builder.appName('Spark DF').getOrCreate()
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)
spark.conf.set('spark.sql.repl.eagerEval.maxNumRows', 10)
fp = '../FileStore/tables/StudentData.csv'
df = spark.read.options(header=True, inferSchema=True).csv(fp)

In [5]:
df.count()

1000

In [10]:
df.filter(col('course') == 'DB').count()

157

In [11]:
df.distinct().count()

1000

In [19]:
df.select(col('gender'), col('age')).distinct()

+------+---+
|gender|age|
+------+---+
|Female| 29|
|Female| 28|
|  Male| 28|
|  Male| 29|
+------+---+

In [32]:
df.dropDuplicates(['course'])

+---+------+----------------+------+-----+-----+--------------------+
|age|gender|            name|course| roll|marks|               email|
+---+------+----------------+------+-----+-----+--------------------+
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|
| 28|  Male|  Margene Moores|   MVC|52771|   32|Toshiko Hillyard_...|
| 28|  Male|  Sheryll Towler|   DSA|41487|   41|Claude Panos_Judi...|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|
| 28|  Male|     Neda Briski|   OOP|61973|   69|Alberta Freund_El...|
+---+------+----------------+------+-----+-----+--------------------+

In [33]:
!jupyter nbconvert --to script df_count_distinct_duplicate.ipynb

[NbConvertApp] Converting notebook df_count_distinct_duplicate.ipynb to script
[NbConvertApp] Writing 634 bytes to df_count_distinct_duplicate.py