In [22]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit
spark = SparkSession.builder.appName('Spark DF').getOrCreate()
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)
spark.conf.set('spark.sql.repl.eagerEval.maxNumRows', 10)
fp = '../FileStore/tables/StudentData.csv'
df = spark.read.options(header=True, inferSchema=True).csv(fp)

In [5]:
df.groupBy('gender').avg('marks')

+------+------------------+
|gender|        avg(marks)|
+------+------------------+
|Female|59.153692614770456|
|  Male| 61.04408817635271|
+------+------------------+

In [7]:
df.groupBy('course').count().show()

+------+-----+
|course|count|
+------+-----+
|    PF|  166|
|    DB|  157|
|   MVC|  157|
|   DSA|  176|
| Cloud|  192|
|   OOP|  152|
+------+-----+

In [11]:
df.groupBy('course').avg('marks').show()

+------+------------------+
|course|        avg(marks)|
+------+------------------+
|    PF| 59.83734939759036|
|    DB|59.044585987261144|
|   MVC| 61.05095541401274|
|   DSA| 62.21590909090909|
| Cloud|59.598958333333336|
|   OOP|  58.6578947368421|
+------+------------------+

In [15]:
df.groupBy('course', 'gender').avg('marks').sort('course', 'gender').show()

+------+------+------------------+
|course|gender|        avg(marks)|
+------+------+------------------+
| Cloud|Female| 59.58490566037736|
| Cloud|  Male|59.616279069767444|
|    DB|Female|             55.96|
|    DB|  Male| 61.86585365853659|
|   DSA|Female| 62.48979591836735|
|   DSA|  Male| 61.87179487179487|
|   MVC|Female|61.183098591549296|
|   MVC|  Male| 60.94186046511628|
|   OOP|Female| 57.09756097560975|
|   OOP|  Male| 60.48571428571429|
|    PF|Female| 57.57971014492754|
|    PF|  Male| 61.44329896907217|
+------+------+------------------+

In [16]:
from pyspark.sql.functions import sum, avg, max, min, mean, count

In [29]:
df.groupBy('course', 'gender').agg(count("*").alias('total_enrollments'), sum('marks').alias('total marks'), min('marks').alias('min_marks'), max('marks').alias('max_marks'), avg('marks').alias('average_marks')).sort('course', 'gender').show()

+------+------+-----------------+-----------+---------+---------+------------------+
|course|gender|total_enrollments|total marks|min_marks|max_marks|     average_marks|
+------+------+-----------------+-----------+---------+---------+------------------+
| Cloud|Female|              106|       6316|       20|       99| 59.58490566037736|
| Cloud|  Male|               86|       5127|       21|       97|59.616279069767444|
|    DB|Female|               75|       4197|       20|       96|             55.96|
|    DB|  Male|               82|       5073|       20|       98| 61.86585365853659|
|   DSA|Female|               98|       6124|       20|       99| 62.48979591836735|
|   DSA|  Male|               78|       4826|       20|       99| 61.87179487179487|
|   MVC|Female|               71|       4344|       22|       99|61.183098591549296|
|   MVC|  Male|               86|       5241|       22|       99| 60.94186046511628|
|   OOP|Female|               82|       4682|       21|       99| 57.09756097560975|
|   OOP|  Male|               70|       4234|       20|       99| 60.48571428571429|
|    PF|Female|               69|       3973|       20|       99| 57.57971014492754|
|    PF|  Male|               97|       5960|       20|       99| 61.44329896907217|
+------+------+-----------------+-----------+---------+---------+------------------+

In [ ]:
!jupyter nbconvert --to script quiz_77.ipynb

[NbConvertApp] Converting notebook quiz_77.ipynb to script
[NbConvertApp] Writing 790 bytes to quiz_77.py