In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit
spark = SparkSession.builder.appName('Spark DF').getOrCreate()
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)
spark.conf.set('spark.sql.repl.eagerEval.maxNumRows', 10)
fp = '../FileStore/tables/StudentData.csv'
df = spark.read.options(header=True, inferSchema=True).csv(fp)

In [6]:
df.sort('course', "marks")

+---+------+-----------------+------+-------+-----+--------------------+
|age|gender|             name|course|   roll|marks|               email|
+---+------+-----------------+------+-------+-----+--------------------+
| 28|Female|   Maybell Duguay| Cloud| 261439|   20|Nicole Harwood_Ju...|
| 28|  Male|      Abram Nagao| Cloud|2652463|   21|Eda Neathery_Anni...|
| 29|  Male|  Sebrina Maresca| Cloud|5042394|   21|Donna Yerby_Miche...|
| 28|  Male|    Kizzy Brenner| Cloud|4622328|   21|Leontine Phillips...|
| 28|  Male|   Bonita Higuera| Cloud|7671835|   21|Taryn Brownlee_Se...|
| 28|Female|      Donna Yerby| Cloud|4392575|   22|Leontine Phillips...|
| 28|Female|     Cheri Kenney| Cloud|2281771|   22|Tamera Blakley_Ab...|
| 28|Female|   Bonita Higuera| Cloud|6061881|   23|Dustin Feagins_La...|
| 29|  Male|Leontine Phillips| Cloud|8162392|   23|Clementina Menke_...|
| 28|  Male|   Alberta Freund| Cloud|1802934|   24|Maybell Duguay_Pa...|
+---+------+-----------------+------+-------+-----+--------------------+
only showing top 10 rows

In [7]:
df.orderBy('course', "marks")

+---+------+-----------------+------+-------+-----+--------------------+
|age|gender|             name|course|   roll|marks|               email|
+---+------+-----------------+------+-------+-----+--------------------+
| 28|Female|   Maybell Duguay| Cloud| 261439|   20|Nicole Harwood_Ju...|
| 28|  Male|      Abram Nagao| Cloud|2652463|   21|Eda Neathery_Anni...|
| 29|  Male|  Sebrina Maresca| Cloud|5042394|   21|Donna Yerby_Miche...|
| 28|  Male|    Kizzy Brenner| Cloud|4622328|   21|Leontine Phillips...|
| 28|  Male|   Bonita Higuera| Cloud|7671835|   21|Taryn Brownlee_Se...|
| 28|Female|      Donna Yerby| Cloud|4392575|   22|Leontine Phillips...|
| 28|Female|     Cheri Kenney| Cloud|2281771|   22|Tamera Blakley_Ab...|
| 28|Female|   Bonita Higuera| Cloud|6061881|   23|Dustin Feagins_La...|
| 29|  Male|Leontine Phillips| Cloud|8162392|   23|Clementina Menke_...|
| 28|  Male|   Alberta Freund| Cloud|1802934|   24|Maybell Duguay_Pa...|
+---+------+-----------------+------+-------+-----+--------------------+
only showing top 10 rows

In [11]:
df.sort(col('course').desc(), df.marks.desc())

+---+------+---------------+------+-------+-----+--------------------+
|age|gender|           name|course|   roll|marks|               email|
+---+------+---------------+------+-------+-----+--------------------+
| 29|  Male| Maybell Duguay|    PF| 701486|   99|Clementina Menke_...|
| 29|Female|   Eda Neathery|    PF|9222608|   99|Kena Wild_Lawanda...|
| 28|Female| Somer Stoecker|    PF|5882098|   98|Judie Chipps_Clem...|
| 28|  Male|    Niki Klimek|    PF|3381919|   97|Hubert Oliveras_L...|
| 29|  Male| Cordie Harnois|    PF|9931081|   97|Toshiko Hillyard_...|
| 28|Female|      Kena Wild|    PF|3291691|   96|Tamera Blakley_Na...|
| 29|  Male|Gonzalo Ferebee|    PF|9331055|   96|Kizzy Brenner_Alb...|
| 29|Female| Loris Crossett|    PF| 201487|   96|Elenore Choy_Lati...|
| 28|  Male|Gonzalo Ferebee|    PF|1352348|   95|Neda Briski_Somer...|
| 28|Female| Nicole Harwood|    PF|1441367|   95|Jc Andrepont_Anna...|
+---+------+---------------+------+-------+-----+--------------------+
only showing top 10 rows

In [12]:
df.orderBy(col('marks').desc(), df.course.desc())

+---+------+------------------+------+-------+-----+--------------------+
|age|gender|              name|course|   roll|marks|               email|
+---+------+------------------+------+-------+-----+--------------------+
| 29|  Male|    Maybell Duguay|    PF| 701486|   99|Clementina Menke_...|
| 29|Female|      Eda Neathery|    PF|9222608|   99|Kena Wild_Lawanda...|
| 29|Female|Priscila Tavernier|   OOP|3902993|   99|Celeste Lollis_Bi...|
| 28|Female|      Judie Chipps|   OOP|5451977|   99|Tamera Blakley_Mi...|
| 28|  Male|    Loris Crossett|   OOP|9692316|   99|Judie Chipps_Mich...|
| 29|  Male|   Gonzalo Ferebee|   MVC|5772006|   99|Niki Klimek_Marge...|
| 28|Female|    Jalisa Swenson|   MVC|5712033|   99|Dustin Feagins_Hu...|
| 29|Female|    Alberta Freund|   DSA|6071316|   99|Dustin Feagins_Se...|
| 29|Female|      Paris Hutton|   DSA| 271472|   99|Sheryll Towler_Al...|
| 28|  Male|       Niki Klimek|   DSA|5172507|   99|Marylee Capasso_E...|
+---+------+------------------+------+-------+-----+--------------------+
only showing top 10 rows

In [13]:
!jupyter nbconvert --to script df_sort_orderby.ipynb

[NbConvertApp] Converting notebook df_sort_orderby.ipynb to script
[NbConvertApp] Writing 751 bytes to df_sort_orderby.py