In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit
spark = SparkSession.builder.appName('Spark DF').getOrCreate()
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)
spark.conf.set('spark.sql.repl.eagerEval.maxNumRows', 10)

fp = '../FileStore/tables/StudentData.csv'

In [9]:
df = spark.read.options(header=True, inferSchema=True).csv(fp)
df.show(5)

+---+------+----------------+------+-----+-----+--------------------+
|age|gender|            name|course| roll|marks|               email|
+---+------+----------------+------+-----+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB|32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA|41487|   41|Claude Panos_Judi...|
+---+------+----------------+------+-----+-----+--------------------+
only showing top 5 rows

In [10]:
df.withColumnRenamed("gender", "sex").withColumnRenamed("roll", "roll_number").show()

+---+------+----------------+------+-----------+-----+--------------------+
|age|   sex|            name|course|roll_number|marks|               email|
+---+------+----------------+------+-----------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|       2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud|      12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF|      21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB|      32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA|      41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC|      52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP|      61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud|      72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC|      81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP|      92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|     102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|     111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|     122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|     132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|     141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|     152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|     161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|     171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|     182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|     192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+-----------+-----+--------------------+
only showing top 20 rows

In [18]:
df2 = df.withColumnRenamed("gender", "sex").withColumnRenamed("name", "full_name")

In [45]:
df.withColumn('mrks2', ((col('marks') * 0.6 / 5) - col('marks')))

+---+------+----------------+------+-----+-----+--------------------+------+
|age|gender|            name|course| roll|marks|               email| mrks2|
+---+------+----------------+------+-----+-----+--------------------+------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|-51.92|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|-54.56|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...| -39.6|
| 29|Female|    Elenore Choy|    DB|32877|   29|Billi Clore_Mitzi...|-25.52|
| 28|  Male|  Sheryll Towler|   DSA|41487|   41|Claude Panos_Judi...|-36.08|
| 28|  Male|  Margene Moores|   MVC|52771|   32|Toshiko Hillyard_...|-28.16|
| 28|  Male|     Neda Briski|   OOP|61973|   69|Alberta Freund_El...|-60.72|
| 28|Female|    Claude Panos| Cloud|72409|   85|Sheryll Towler_Al...| -74.8|
| 28|  Male|  Celeste Lollis|   MVC|81492|   64|Nicole Harwood_Cl...|-56.32|
| 29|  Male|  Cordie Harnois|   OOP|92882|   51|Judie Chipps_Clem...|-44.88|
+---+------+----------------+------+-----+-----+--------------------+------+
only showing top 10 rows

In [51]:
df.select(col('name').alias('FULL_NAME'), (col('age') * 2).alias("AGE"), col('gender').alias('GENDER'))

+----------------+---+------+
|       FULL_NAME|AGE|GENDER|
+----------------+---+------+
| Hubert Oliveras| 56|Female|
|Toshiko Hillyard| 58|Female|
|  Celeste Lollis| 56|  Male|
|    Elenore Choy| 58|Female|
|  Sheryll Towler| 56|  Male|
|  Margene Moores| 56|  Male|
|     Neda Briski| 56|  Male|
|    Claude Panos| 56|Female|
|  Celeste Lollis| 56|  Male|
|  Cordie Harnois| 58|  Male|
+----------------+---+------+
only showing top 10 rows

In [52]:
!jupyter nbconvert --to script df_with_column_renamed_alias.ipynb

[NbConvertApp] Converting notebook df_with_column_renamed_alias.ipynb to script
[NbConvertApp] Writing 849 bytes to df_with_column_renamed_alias.py