In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Spark DF').getOrCreate()
fp = '../FileStore/tables/StudentData.csv'
df = spark.read.options(header=True, inferSchema=True).csv(fp)
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [2]:
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)

In [10]:
spark.conf.set('spark.sql.repl.eagerEval.maxNumRows', 10)

In [13]:
df.show(1, vertical=True)

-RECORD 0----------------------
 age    | 28
 gender | Female
 name   | Hubert Oliveras
 course | DB
 roll   | 2984
 marks  | 59
 email  | Annika Hoffman_Na...
only showing top 1 row

In [17]:
df.printSchema()
df.describe().show()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

+-------+------------------+------+----------------+------+------------------+-----------------+--------------------+
|summary|               age|gender|            name|course|              roll|            marks|               email|
+-------+------------------+------+----------------+------+------------------+-----------------+--------------------+
|  count|              1000|  1000|            1000|  1000|              1000|             1000|                1000|
|   mean|            28.506|  null|            null|  null|       4997014.708|           60.097|                null|
| stddev|0.5002141683461337|  null|            null|  null|2888208.5159476185|22.85537046208087|                null|
|    min|                28|Female|     Abram Nagao| Cloud|              2984|               20|Abram Nagao_Celes...|
|    max|                29|  Male|Toshiko Hillyard|    PF|           9991617|               99|Toshiko Hillyard_...|
+-------+------------------+------+----------------+------+------------------+-----------------+--------------------+

In [17]:
from pyspark.sql.functions import col
df = df.withColumn('roll', col('roll').cast("String"))

In [18]:
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

### explanation

Example 1:
```python
df.withColumn('marks', col('marks') + 1) 
```
how code above works:
    1. takes columnn 'marks' from dataframe
    2. increases it's value by 1
    3. puts result into column 'marks'
    
Example 2:
```python
df.withColumn('marks', col('age') * 2) 
```
how code above works:
    1. takes columnn 'age' from dataframe
    2. multiplies it's value by 2
    3. puts result into column 'marks'

In [40]:
df.withColumn('roll', col('roll').cast("String")).show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [43]:
df.withColumn('marks_x2', col('marks') * 2 * 10).show()

+---+------+----------------+------+------+-----+--------------------+--------+
|age|gender|            name|course|  roll|marks|               email|marks_x2|
+---+------+----------------+------+------+-----+--------------------+--------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|    1180|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|    1240|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|     900|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|     580|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|     820|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|     640|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|    1380|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|    1700|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|    1280|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|    1020|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|     700|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|    1060|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|     540|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|    1100|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|     840|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|     540|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|     720|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|     440|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|    1120|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|    1240|
+---+------+----------------+------+------+-----+--------------------+--------+
only showing top 20 rows

In [48]:
from pyspark.sql.functions import lit

df.withColumn('Country', lit('usa')).show()

+---+------+----------------+------+------+-----+--------------------+-------+
|age|gender|            name|course|  roll|marks|               email|Country|
+---+------+----------------+------+------+-----+--------------------+-------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|    usa|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|    usa|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|    usa|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|    usa|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|    usa|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|    usa|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|    usa|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|    usa|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|    usa|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|    usa|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|    usa|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|    usa|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|    usa|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|    usa|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|    usa|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|    usa|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|    usa|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|    usa|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|    usa|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|    usa|
+---+------+----------------+------+------+-----+--------------------+-------+
only showing top 20 rows

In [50]:
df.withColumn('roll', col('roll').cast("String")).withColumn('country', lit('usa')).withColumn('marks_x2', col('marks') * 2 * 10).show()

+---+------+----------------+------+------+-----+--------------------+-------+--------+
|age|gender|            name|course|  roll|marks|               email|country|marks_x2|
+---+------+----------------+------+------+-----+--------------------+-------+--------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|    usa|    1180|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|    usa|    1240|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|    usa|     900|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|    usa|     580|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|    usa|     820|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|    usa|     640|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|    usa|    1380|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|    usa|    1700|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|    usa|    1280|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|    usa|    1020|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|    usa|     700|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|    usa|    1060|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|    usa|     540|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|    usa|    1100|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|    usa|     840|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|    usa|     540|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|    usa|     720|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|    usa|     440|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|    usa|    1120|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|    usa|    1240|
+---+------+----------------+------+------+-----+--------------------+-------+--------+
only showing top 20 rows

In [6]:
from pyspark.sql.types import StringType
from pyspark.sql.functions import udf


upper_udf = udf(lambda x: str.upper(x)[::-2], StringType())


df.withColumn('name_trnsf', upper_udf('name')).show()

+---+------+----------------+------+------+-----+--------------------+----------+
|age|gender|            name|course|  roll|marks|               email|name_trnsf|
+---+------+----------------+------+------+-----+--------------------+----------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|  SRVL RBH|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|  DALI KHO|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|   SLO TEE|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|    YH RNL|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|   RLO LRH|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|   SRO NGA|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|    ISR DN|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|    SNPEUL|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|   SLO TEE|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|   SORHEDO|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|     DI NK|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|  HASO SNE|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|   EOHA IA|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|   EOHA IA|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|    ISR DN|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|   EOHA IA|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|   TESR IO|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|   NMFHAIN|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|   NIRKANS|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|  TGRRCYKI|
+---+------+----------------+------+------+-----+--------------------+----------+
only showing top 20 rows

In [7]:
df.withColumn('name_trnsf', upper_udf('name'))

+---+------+----------------+------+------+-----+--------------------+----------+
|age|gender|            name|course|  roll|marks|               email|name_trnsf|
+---+------+----------------+------+------+-----+--------------------+----------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|  SRVL RBH|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|  DALI KHO|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|   SLO TEE|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|    YH RNL|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|   RLO LRH|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|   SRO NGA|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|    ISR DN|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|    SNPEUL|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|   SLO TEE|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|   SORHEDO|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|     DI NK|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|  HASO SNE|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|   EOHA IA|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|   EOHA IA|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|    ISR DN|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|   EOHA IA|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|   TESR IO|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|   NMFHAIN|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|   NIRKANS|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|  TGRRCYKI|
+---+------+----------------+------+------+-----+--------------------+----------+
only showing top 20 rows

In [67]:
!jupyter nbconvert --to script df_with_column.ipynb

[NbConvertApp] Converting notebook df_with_column.ipynb to script
[NbConvertApp] Writing 1534 bytes to df_with_column.py