In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit, sum, avg, max, min, mean, count
spark = SparkSession.builder.appName('Spark DF').getOrCreate()
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)
spark.conf.set('spark.sql.repl.eagerEval.maxNumRows', 10)
fp = '../FileStore/tables/StudentData.csv'
df = spark.read.options(header=True, inferSchema=True).csv(fp)

In [4]:
df.groupBy('course').count()

+------+-----+
|course|count|
+------+-----+
|    PF|  166|
|    DB|  157|
|   MVC|  157|
|   DSA|  176|
| Cloud|  192|
|   OOP|  152|
+------+-----+

In [6]:
df.groupBy('course', 'gender').count()

+------+------+-----+
|course|gender|count|
+------+------+-----+
|   OOP|  Male|   70|
|    DB|  Male|   82|
| Cloud|Female|  106|
|   MVC|  Male|   86|
|   DSA|Female|   98|
|    PF|  Male|   97|
|   MVC|Female|   71|
| Cloud|  Male|   86|
|    PF|Female|   69|
|   DSA|  Male|   78|
+------+------+-----+
only showing top 10 rows

In [11]:
df.groupBy('course', 'gender').agg(sum('marks').alias('total_marks'))

+------+------+-----------+
|course|gender|total_marks|
+------+------+-----------+
|   OOP|  Male|       4234|
|    DB|  Male|       5073|
| Cloud|Female|       6316|
|   MVC|  Male|       5241|
|   DSA|Female|       6124|
|    PF|  Male|       5960|
|   MVC|Female|       4344|
| Cloud|  Male|       5127|
|    PF|Female|       3973|
|   DSA|  Male|       4826|
+------+------+-----------+
only showing top 10 rows

In [12]:
df.groupBy('course', 'age').agg(min('marks').alias('min_mark'), max('marks').alias('max_mark'), avg('marks').alias('avg_mark'))

+------+---+--------+--------+------------------+
|course|age|min_mark|max_mark|          avg_mark|
+------+---+--------+--------+------------------+
|   MVC| 28|      23|      99| 60.44444444444444|
|   MVC| 29|      22|      99| 61.56470588235294|
| Cloud| 28|      20|      99|             58.08|
|    PF| 29|      20|      99|56.275862068965516|
|    PF| 28|      20|      98| 63.75949367088607|
|   OOP| 29|      20|      99|59.729729729729726|
|   DSA| 28|      20|      99|  64.6867469879518|
| Cloud| 29|      21|      98|             61.25|
|    DB| 28|      21|      98| 58.76829268292683|
|   DSA| 29|      20|      99| 60.01075268817204|
+------+---+--------+--------+------------------+
only showing top 10 rows