In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit
spark = SparkSession.builder.appName('Spark DF').getOrCreate()
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)
spark.conf.set('spark.sql.repl.eagerEval.maxNumRows', 10)
fp = '../FileStore/tables/StudentData.csv'
df = spark.read.options(header=True, inferSchema=True).csv(fp)

In [8]:
df.select(df.age, df.gender, df.course).distinct()

+---+------+------+
|age|gender|course|
+---+------+------+
| 28|  Male| Cloud|
| 28|Female|    DB|
| 28|Female|   MVC|
| 29|  Male|    PF|
| 28|Female|   OOP|
| 29|Female| Cloud|
| 29|  Male| Cloud|
| 29|Female|   DSA|
| 29|  Male|   OOP|
| 29|  Male|    DB|
+---+------+------+
only showing top 10 rows

In [9]:
df.dropDuplicates(['age', 'gender', 'course'])

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|  Male|  Annika Hoffman| Cloud|722193|   55|Taryn Brownlee_El...|
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 28|Female|    Cheri Kenney|   MVC|321816|   24|Kena Wild_Michell...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 28|Female|  Alberta Freund|   OOP|251805|   83|Annika Hoffman_Sh...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 29|  Male|     Billi Clore| Cloud|512047|   76|Taryn Brownlee_Ju...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 28|Female|  Loris Crossett|    PF|332739|   62|Michelle Ruggiero...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 10 rows

In [10]:
df.select(df.age, df.gender, df.course).distinct().count() == df.dropDuplicates(['age', 'gender', 'course']).count()

True

In [11]:
!jupyter nbconvert --to script quiz_74.ipynb

[NbConvertApp] Converting notebook quiz_74.ipynb to script
[NbConvertApp] Writing 804 bytes to quiz_74.py