In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit, sum, avg, max, min, mean, count
spark = SparkSession.builder.appName('Spark DF').getOrCreate()
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)
spark.conf.set('spark.sql.repl.eagerEval.maxNumRows', 10)
fp = '../FileStore/tables/WordData.txt'
df = spark.read.text(fp)

In [10]:
df.withColumn('count', lit(1)).groupBy('value').sum()

+------+----------+
| value|sum(count)|
+------+----------+
|   Mic|        10|
| Chair|        15|
|  Book|         5|
|Laptop|         5|
|   Bag|         5|
|Mobile|         5|
| Apple|        10|
+------+----------+

In [11]:
df.withColumn('count', lit(1)).groupBy('value').count()

+------+-----+
| value|count|
+------+-----+
|   Mic|   10|
| Chair|   15|
|  Book|    5|
|Laptop|    5|
|   Bag|    5|
|Mobile|    5|
| Apple|   10|
+------+-----+

In [12]:
df.groupBy('value').count()

+------+-----+
| value|count|
+------+-----+
|   Mic|   10|
| Chair|   15|
|  Book|    5|
|Laptop|    5|
|   Bag|    5|
|Mobile|    5|
| Apple|   10|
+------+-----+