In [12]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit
spark = SparkSession.builder.appName('Spark DF').getOrCreate()
# spark.conf.set('spark.sql.repl.eagerEval.enabled', True)
# spark.conf.set('spark.sql.repl.eagerEval.maxNumRows', 10)
fp = '../FileStore/tables/StudentData.csv'
df = spark.read.options(header=True, inferSchema=True).csv(fp)

### tasks:
1. read StudentData.csv into DF
2. create a new column 'total_marks' and let it be 120 
3. create column 'average' = ('marks'/'total_marks') * 100
4. create DF with students who has 'average' > 80 % on the OOP course
5. create DF with students who has 'average' > 60 % on the Cloud course
6. print names and marks from previous DFs

In [19]:
# tasks 1, 2, 3

df = (
    df
      .withColumn('total_marks', lit(120))
      .withColumn('average', ((col('marks')/col('total_marks')) * 100))
)

In [22]:
df.show(5)

+---+------+----------------+------+-----+-----+--------------------+-----------+------------------+
|age|gender|            name|course| roll|marks|               email|total_marks|           average|
+---+------+----------------+------+-----+-----+--------------------+-----------+------------------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|        120|49.166666666666664|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|        120| 51.66666666666667|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|        120|              37.5|
| 29|Female|    Elenore Choy|    DB|32877|   29|Billi Clore_Mitzi...|        120|24.166666666666668|
| 28|  Male|  Sheryll Towler|   DSA|41487|   41|Claude Panos_Judi...|        120|34.166666666666664|
+---+------+----------------+------+-----+-----+--------------------+-----------+------------------+
only showing top 5 rows

In [29]:
df_oop = df.filter((col('average') > 80) & (col('course') == 'OOP'))

In [30]:
df_cloud = df.filter((col('average') > 60) & (col('course') == 'Cloud'))

In [43]:
df_oop.select('name', 'marks').show(5)

+------------------+-----+
|              name|marks|
+------------------+-----+
|    Jenna Montague|   98|
|Priscila Tavernier|   99|
|      Judie Chipps|   99|
|    Margene Moores|   97|
|      Jc Andrepont|   97|
+------------------+-----+
only showing top 5 rows

In [44]:
df_cloud.select('name', 'marks').show(5)

+--------------+-----+
|          name|marks|
+--------------+-----+
|  Claude Panos|   85|
|   Billi Clore|   76|
|Somer Stoecker|   82|
|  Judie Chipps|   75|
|  Eda Neathery|   91|
+--------------+-----+
only showing top 5 rows

In [46]:
!jupyter nbconvert --to script quiz_71.ipynb

[NbConvertApp] Converting notebook quiz_71.ipynb to script
[NbConvertApp] Writing 1243 bytes to quiz_71.py